<h2>Images</h2>
<p>There are several functions on the Images tab which are explained in detail below</p>

<div class="row">
  <div class="column" style="width: 50%">
    <h3>Run Image</h3>
    <p>Runs a specified image with any optional arguments the user supplies</p>
  </div>
  <div class="column" style="width: 50%">
    <h3>Delete Image</h3>
    <p>Deletes a specified image, can not be in use by a container</p>
  </div>
</div>
<div class="row">
  <div class="column" style="width: 50%">
    <h3>Pull Image</h3>
    <p>Download a specified image from Docker Hub</p>
  </div>
  <div class="column" style="width: 50%">
    <h3>Push Image</h3>
    <p>Upload an image to Docker Hub, requires that the user has an account</p>
  </div>
</div>
<div class="row">
  <div class="column" style="width: 50%">
    <h3>Generate Dockerfile</h3>
    <p>Generate a Dockerfile within a specified directory automatically</p>
  </div>
  <div class="column" style="width: 50%">
    <h3>Build Image</h3>
    <p>Build an image based on a path to a Dockerfile and a specified name</p>
  </div>
</div>
<h2>Containers</h2>
<p>There are several functions on the Containers tab which are explained in detail below</p>

<div class="row">
  <div class="column" style="width: 50%">
    <h3>Run Container</h3>
  </div>
  <div class="column" style="width: 50%">
    <h3>Delete Container</h3>
  </div>
</div>
<div class="row">
  <div class="column" style="width: 50%">
    <h3>Build Container</h3>
  </div>
  <div class="column" style="width: 50%">
    <h3>Kill Container</h3>
  </div>
</div>
<div class="row">
  <div class="column" style="width: 50%">
    <h3>Stop Container</h3>
  </div>
  <div class="column" style="width: 50%">
    <h3>Restart Container</h3>
  </div>
</div>
