<!doctype HTML>
{% include 'head.html' %}
<body>
  <div class="column" style="width: 20%;">
    {% include 'nav.html' %}
  </div>
  <div class="column" style="width:80%;">
    <div class="area" style="margin-left: 150px;">
      <h1>Docker Automation</h1>
      <form action="/login" method="POST" name="Login">
        <input name="username" placeholder="Username:">
        <input type="password" name="password" placeholder="Password:"><br>
        <button>Login</button>
      </form>
    </div>
  </div>
</body>

<footer>
</footer>
