<nav class="main-menu">
  <ul>
    <li>
      <a href="/">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">Home</span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="/images">
        <i class="fa fa-images fa-2x"></i>
        <span class="nav-text">Images</span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="/containers">
        <i class="fa fa-box-open fa-2x"></i>
        <span class="nav-text">Containers</span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#" id="update">
        <i class="fa fa-redo-alt fa-2x"></i>
        <span class="nav-text">Update</span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="/help">
        <i class="fa fa-question-circle fa-2x"></i>
        <span class="nav-text">Help</span>
      </a>
    </li>
  </ul>
  <ul class="logout">
    <li>
      <a href="/shutdown">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">Shutdown</span>
      </a>
    </li>
  </ul>
</nav>
