<!doctype HTML>
<head>
  <title>Docker Automation</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='node_modules/xterm/css/xterm.css') }}"/>
  <script src="{{ url_for('static', filename='node_modules/xterm/lib/xterm.js')}}"></script>
</head>

<body>
  <div class="row">
    <div style="width:10%; float:left;">
      <br>
      <form action="/update" method="POST" name="Update">
        <button>Update</button>
      </form>
    </div>
    <div style="width:10%; float:left;">
      <br>
      <form action="/shutdown" method="POST">
        <button>Shutdown</button>
      </form>
    </div>
    <div>
      <p>Images: {{ images }}</p>
      <p>Containers: {{ containers }}</p>
    </div>
  </div>
  <div style="width:45%; float:left;">
    <br>
    <div class="row">
      <div style="width: 30%; float:left;">
        <h3>Run Image</h3>
        <form action="/run_image" method="POST" name="Run_Image">
          <input name="run_image_name" placeholder="Image to Run">
          <input name="run_image_args" placeholder="(optional) Arguments">
          <input type="submit">
        </form>
      </div>
      <div style="width: 30%; float:left;">
        <h3>Run Container</h3>
        <form action="/run_container" method="POST" name="Run_Container">
          <input name="run_container_name" placeholder="Container to Run">
          <input name="run_container_args" placeholder="(optional) Arguments">
          <input type="submit">
        </form>
      </div>
    </div>
    <div class="row">
      <div style="width: 30%; float:left;">
        <h3>Delete Image</h3>
        <form action="/delete_image" method="POST" name="Delete_Image">
          <input name="delete_image_name" placeholder="Image to Delete">
          <input type="submit">
        </form>
      </div>
      <div style="width: 30%; float:left;">
        <h3>Delete Container</h3>
        <form action="/delete_container" method="POST" name="Delete_Container">
          <input name="delete_container_name" placeholder="Container to Delete">
          <input type="submit">
        </form>
      </div>
    </div>

    <div class="row">
      <div style="width: 30%; float:left;">
        <h3>Generate Dockerfile</h3>
        <form action="/generate_doc" method="POST" name="Generate">
          <input name="generate_dir" placeholder="Path to directory">
          <input name="generate_to_dir" placeholder="(optional) Path to mount files to">
          <input type="submit">
        </form>
      </div>

      <div style="width: 30%; float:left;">
        <h3>Build Image</h3>
        <form action="/build" method="POST" name="Build">
          <input name="build_path" placeholder="Path to directory">
          <input name="build_name" placeholder="Name of image">
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
  <div style="width:40%; float:left;">
    <div id="terminal"></div>
    <script src="{{ url_for('static', filename='js/terminal.js')}}"></script>
  </div>
</body>

<footer>
</footer>
